body {
    background-color: #424549;
    color: white; 
}
h1 {
    font-size: 20pt;
}
.divChico {
    padding: 10px 10px 10px 0px;
    margin: 10px 10px 10px 0px;
    font-size: 16pt;
    height: 175px;
    width: 400px;
}
.parrafo1 {
    background-color: #474747;
}